---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((blog) => ({
    params: { id: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
if (!blog) return Astro.redirect("/");
const { data } = blog;
const { img, readtime, date, title } = data;
const { Content } = await render(blog);
---

<Layout>
  <main class="flex-1 p-4 mx-auto max-w-screen">
    <!-- IMAGEN DE PORTADA CON FECHA Y TIEMPO DE LECTURA -->
    <img src={img} alt={title} class="h-64 w-full object-cover" />
    <div class="flex justify-between text-sm text-gray-800 dark:text-gray-400 py-5">
      <p>{readtime} min</p>
      <p>{date.toLocaleDateString()}</p>
    </div>
    <div
      class="prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert max-w-none"
    >
      <Content />
    </div>
  </main>
</Layout>
