---
import Briefcase from "../icons/Briefcase.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
---

<footer
  class="mx-auto p-4 flex flex-col sm:flex-row sm:justify-around gap-y-4 items-center w-full"
>
  <p>Hecho con ❤️ y con Astro.</p>
  <div class="flex gap-x-4">
    <a
      class="hover:scale-110 transition-transform"
      href="https://github.com/axelsparta"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Github class="size-7 text-slate-900 dark:text-slate-100" />
    </a>
    <a
      class="hover:scale-110 transition-transform"
      href="https://axelsparta.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Briefcase class="size-7 text-slate-900 dark:text-slate-100" />
    </a>
    <a
      class="hover:scale-110 transition-transform"
      href="https://www.linkedin.com/in/axel-sparta-web/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Linkedin class="size-7 text-slate-900 dark:text-slate-100" />
    </a>
  </div>
</footer>
