---
import Sun from "../icons/Sun.astro";
import Moon from "../icons/Moon.astro";
---

<header class="flex justify-between w-full mx-auto items-center min-h-20">
  <nav class="flex flex-row gap-x-2 sm:gap-x-6 font-bold">
    <a
      class="opacity-80 hover:scale-110 hover:opacity-80 transition-all text-sm lg:text-base"
      href="/">Inicio</a
    >
  </nav>
  <button
    class="opacity-80 hover:scale-110 hover:opacity-80 transition-all text-sm lg:text-base cursor-pointer"
    aria-label="Cambiar tema oscuro/claro"
    id="theme-toggle-btn"
  >
    <Sun className="hidden dark:block" />
    <Moon className="block dark:hidden" />
  </button>
</header>

<script is:inline>
  const getTheme = () => {
    return (
      localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light")
    );
  };

  const setThemePreference = () => {
    const theme = getTheme();
    document.documentElement.className = theme;
  };

  setThemePreference();

  document.addEventListener("astro:page-load", () => {
    const $themeToggleBtn = document.getElementById("theme-toggle-btn");
    setThemePreference();
    $themeToggleBtn.addEventListener("click", () => {
      const theme = getTheme();
      const newTheme = theme === "dark" ? "light" : "dark";
      localStorage.setItem("theme", newTheme);
      document.documentElement.className = newTheme;
    });
  });
</script>
